body{
	overflow-x: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
	height: 100%;
  background-color:var(--cor-fundo);
}

::-webkit-scrollbar-thumb:vertical {
  background-color: var(--degrade-fim);
}

.conteiner{
	width:100%;
	height: 100%;
}
.header{
	width: 100%;
	height: 70px;

	background-color: #000000;

	display: grid;
	grid-template-columns: 20% 60% 20%;
}
.header div{
	display: flex;
	align-items: center;
	justify-content: center;
}
.header input{
	width: 95%;
	height: 65%;

	border:transparent;
	background-color: var(--degrade-fim);
	color:var(--text-in-input);
	font-size: 24px; 
	text-align: center;
	border-radius: 10px;
}
.header p{
	font-size:20px;
	letter-spacing: 5px;
	cursor: pointer;
	transition: 0.8s;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 900;
    text-shadow:2px 2px 12px #e6b3e6ea;
    color: var(--cor-fundo) ;
    width:100%;
    text-align:center;
}
.content{
	display: grid;
	grid-template-columns: 20% 60% 20%;
}
.content .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--cor-fundo);
	margin-top: 10px;
	color:var(--text-in-input);
	font-family: 'Roboto', sans-serif;
}
.profile img{
	width: 100px;
	width: 100px;
	border-radius: 50%;
	margin: 10px 10px 0px;
}
.profile strong{
	font-size:30px;
	font-weight:100;
	font-family: 'Alfa Slab One', cursive;

	margin-top: 20px;
}
.profile label{
	text-decoration: none;
	color:var(--text-in-background);
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.content .feed{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	background-color: var(--cor-fundo);
}

.card-post{
	width:70%;
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
	padding: 10px;
	background-color: #000000;
	margin: 20px auto;
	color:var(--text-in-input);
}
.card-post .header-post, .card-post .body-post, .conteinerComentarios{
		background-color: var(--cor-fundo-post);
}
.card-post .header-post img, .conteinerComentarios>header>img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.card-post .header-post, .conteinerComentarios>header{
	padding: 20px;
	display: flex;
	align-items: center;
}
.card-post .header-post strong, .conteinerComentarios>header>strong{
	margin-left: 10px;
	width: auto;
	font-size: 20px;

}
.card-post p , .card-post span, .conteinerComentarios>header>span, .conteinerComentarios>header>p{
	width: auto;
	margin-left: 10px;
}

.card-post .body-post{
	display: flex;
	flex-direction: column;
	padding: 20px;

}
.card-post .body-post h2{
	font-size:30px;
	font-weight: 900;
	margin-bottom: 10px
}
.card-post .body-post strong{
	font-size: 20px;
	margin-bottom: 10px;
}
.card-post .footer-post h5{
	margin: 10px;
	font-size: 22px;

	cursor: pointer;
	transition: 0.2s;
}


.card-post img{
	box-shadow: border-box;
	max-height: 300px;
}
.card-post .footer-post .beFirst{
	padding: 20px;
}
.card-post .footer-post h5:hover{
	color:var(--strong-hover);
}
.conteinerComentarios>p{
	text-align: left;
	margin: 20px 20px 30px 30px;
	padding-bottom:20px; 
}
.txtcmt{
	width: 96.5%;
	background-color: #000;
	border-left: white solid 3px;
	padding: 10px;
	color: white;
	text-align: left;
}
.conteinerBtnSair{
	display: flex;
	justify-content: center;
	align-items: center;
}
.btnSair{
	width: 150px;
	background-color: #000000;
	color:var(--strong-hover);
	height: 10px;
	margin:0; 
	border: none;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
}
.btnSair:hover{
	color:#000;
}
.actions{
	display: flex;
	height: 100%;
	padding-bottom: 10px;
	background-color: var(--cor-fundo);
	flex-direction: column;
	align-items: center;

}
.actions button{
	width: 80%;
	height: 50px;
	background-color: var(--cor-fundo);
	border: solid 1px var(--strong-hover);
	border-radius: 0px;
	color: var(--strong-hover);
}
.actions button:hover{
	color:var(--cor-fundo);

}
.conteinerInputs, form{
	width: 70%;
	height: auto;
	min-height: 80%;
	padding: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	background-color: var(--cor-fundo);
	border-radius: 10px;
	
}
form{width: 100%;	box-shadow: 20px 30px 200px var(--cor-fundo-post);}
.conteinerInputs input, .conteinerInputs textarea{
	height: 40px;
	margin: 1%;
	background-color: var(--cor-fundo);
	border: solid 2px var(--strong-hover);
	text-align: left;
	font-size: 16px;
	padding: 10px;
}

.conteinerInputs label{
	font-size: 24px;
	padding: 10px;
	font-family: 'Alfa Slab One', cursive;
}

.conteinerInputs span{ color:red; }

.conteinerInputs i{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 30px;
	font-weight: bolder;
	color: white;
}
.conteinerInputs i:hover{
	cursor: pointer;
	color: red;
}
.conteinerInputs textarea{
	height: 80px;
}
.conteinerInputs h1{
	color: var(--text-in-background);
	font-size:40px;
	font-weight: 300;
	letter-spacing: 3px;
	font-family: 'Alfa Slab One', cursive;
	width: 100%;
	text-align: center;
}
.conteinerInputs button{
	width: 80%;
	max-width: 100%;
	height: 80px;
	transition: 1s;
	color: var(--text-in-background);
	font-size: 30px;
	font-family: 'Alfa Slab One', cursive;
	background-color: var(--cor-fundo);
	border:solid 1px var(--text-in-background);
}

.conteinerInputs button:hover{
	width: 85%;
	background-color:var(--text-in-background);
	color:var(--cor-fundo);
	border-radius: 10px; 
}
.conteinerInputs input[type=file]::-webkit-file-upload-button{
	width: 100%;
	height: 100%;
	background-color: var(--cor-fundo);
	border: transparent;
	color:var(--strong-hover);
}
input[type=file]{
	display: none;
}
.conteinerInputs img{
	width:200px;
	height: 200px;

	display: none;
}
form label[for=foto]:hover{
	color:var(--strong-hover);
	cursor:pointer;
	letter-spacing: 0.6px;
	font-weight: 500;
	transition: 2s;
}
.footer-post input{
	width: 80%;
	height: 34px;
	float: left;
	border-radius: 10px;
	padding: 3px;
}
.footer-post button{
	float: right;
	width: 17%;
	background-color: #000;
	color:var(--text-in-background);
	border: none;
	height: 30px;
	font-size: 20px;
	margin-top: 10px;
	margin-top: 0px;
}